
</div>
</div>
</div><!--用来关闭head.ejs中的div标签-->

<div class="toolbar" id="toolbar">
    <a href="#" class="toolbar-item toolbar-item-weixin">
        <span class="toolbar-layer"></span>
    </a>
    <a href="javascript:;" class="toolbar-item toolbar-item-alipay">
        <span class="toolbar-layer"></span>
    </a>
    <a id="scroll" href="javascript:;" class="toolbar-item toolbar-item-top"></a>
</div>
</body>
</html>