<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> - Orange</title>


    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"/>-->
    <link type="text/css" media="screen" charset="utf-8" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<!--

-->
    <link type="text/css" media="screen" charset="utf-8" rel="stylesheet" href="/stylesheets/waterfull.css"/>

    <link type="text/css" media="screen" charset="utf-8" rel="stylesheet" href="/stylesheets/style.css"/>
    <link  type="text/css" media="screen" charset="utf-8" rel="stylesheet" href="/stylesheets/toolbarN.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" charset="utf-8"></script>

</head>
<body>
<div class="lbc">
    <nav class="navbar navbar-blog  expanded" role="navigation">
        <div class="dropdown" id="waterfallpage">
            <a class="active" href="/">
                <p>Lee</p>
            </a>
            <a style="background-color: lightgray" href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'lightgray')">灰</a>
            <a style="background-color: gold"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'gold')">金</a>
            <a style="background-color: rgb(255,51,0)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'rgb(255,51,0)')">赤</a>
            <a style="background-color: orange"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'orange')">橙</a>
            <a style="background-color: rgb(255,255,0)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'rgb(255,255,0)')">黄</a>
            <a style="background-color: rgb(0,255,0)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'lightgreen')">绿</a>
            <a style="background-color: rgb(0,255,255)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'rgb(0,255,255)')">青</a>
            <a style="background-color: rgb(0,0,255)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'rgb(0,0,255)')">蓝</a>
            <a style="background-color: rgb( 128,0,255)"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'rgb(128,0,255)')">紫</a>
            <a style="background-color: lightpink"href="javascript:void(0)" onclick="$('#col11,#container').css('background-color', 'lightpink')">粉</a>

        </div>
        <div class="dropdown" id="index">
            <a href="/">
                <p>Lee</p>
            </a>
            <a  class="active" href="/waterfall">
                <p>1001</p>
            </a>
        </div>
    </nav>
</div>
<div class="container-fluid fillcol" id="container">
    <div class="row fillcol" >
        <div class="col-md-1 " style="background-color: #e2e2e2; width: 47px;">
        </div>
        <div id="col11" class="col-md-11 fillcol">