<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>JSShare-FancyMoves</title>


    <!-- 需要的 CSS 文件 -->
    <link type="text/css" href="/stylesheets/fancymoves.css" media="screen" charset="utf-8" rel="stylesheet" />
    <!-- 例子所需要的文件 -->
    <link type="text/css" href="/stylesheets/style.css" media="screen" charset="utf-8" rel="stylesheet" />


    <!-- 需要的 javascriptscript 文件-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/slider.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/popupLayer.js"></script>


    

    <!--<script type="text/javascript">-->
       <!--$(document).ready(function () {-->
           <!--$('#slider-one').movingBoxes({-->
               <!--startPanel   : 2,      // start with this panel-->
               <!--width        : 800,    // overall width of movingBoxes (not including navigation arrows)-->
               <!--panelWidth   : .45,     // current panel width adjusted to 70% of overall width-->
               <!--buildNav     : true,-->
               <!--fixedHeight  : true,// if true, navigation links will be added-->
               <!--navFormatter : function(){ return "&#9679;"; } // function which returns the navigation text for each panel-->
           <!--});-->
       <!--})-->
	<!--</script>-->



</head>


<body>

<button id="open">open</button>
  

    <div class="PopupLayer" style="background-color: #FFFFCC">




        <!-- Slider -->
        <div id="slider-one" style="height: 100px;">

            <div>
                <img src="images/img6.jpg" alt="" />

            </div>

        </div>
        <!-- /Slider -->





    </div>

</body>
</html>
