<%- include head.ejs %>

<div class="row fillcol">
    <div class="col-md-12 fillcol">
        <div class="row fillcol">
            <div class="col-md-3 fillcol ">
                <div class="cover-img" style="background-image: url('<%=coverimg%>');" >

                </div>
            </div>
            <div class="col-md-9 fillcol">
                <div >
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p><p>hello</p>
                    <p>hello</p>
                    <p>hello</p>
                    <p>hello</p><p>hello</p>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include foot.ejs %>