@mixin boxshadow($shadow){
  -webkit-box-shadow: $shadow ;
  -moz-box-shadow: $shadow ;
  box-shadow: $shadow ;
}
*{
  margin: 0;
  padding: 0;
}

#mian , .main{
  position: relative;

}

.box{

  padding: 15px 15px 0 0;
  float: left;
}
.pic{
  padding: 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @include boxshadow(0 0 5px #ccc);

  img{
    width: 250px;
    height: auto;
  }
}
